:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html, body {
  overscroll-behavior-x: none;
}
/* body {
  width:80%;
  margin-left:auto;
  margin-right:auto;
} */
/* Highlighted Span Text Popup */
.highlighted {
  position: relative;
  user-select: none;
}
.highlight-sequence-text {
  display: None;
  position: absolute;
  bottom: 100%;
  left: 50%;
  text-align:center;
  text-transform: lowercase;
  text-indent:0;
  transform: translateX(-50%);
  background-color:#403f3f;
  color: #ffffff;
  padding: 5px;
  margin-bottom: 1px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  font-family: 'Times New Roman';
  font-style: normal;
  user-select: none;
}
/* Color Popup Container */
.popup-container{
  display: grid;
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: yellow; */
  /* opacity:0.5; */
}
/* Color Popup */
.color-popup {
  position: absolute;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;
  text-indent: 0;
  z-index: 3000;
  user-select: none;
}
.options-title, .options-number {
  /* border: solid green; */
  margin: 0 auto;
  user-select: none;
}
.color-option {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.color-option-text {
  display: none;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  text-indent: 0;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Times New Roman';
  font-style: normal;
  user-select: none;
}
.color-option:hover .color-option-text {
  display: block;
}

/*---------Highlight Color Span Style------------*/
.DarkOrange {
  background-color: #ff8c00;
}

.DarkSalmon {
  background-color: DarkSalmon;
}

.Gold {
  background-color: Gold;
}

.LightCoral {
  background-color: LightCoral;
}

.IndianRed {
  background-color: IndianRed;
}

.Plum {
  background-color: Plum;
}

.Salmon {
  background-color: Salmon;
}

.CadetBlue {
  background-color: CadetBlue;
}

.LightSteelBlue {
  background-color: LightSteelBlue;
}

.PaleGreen {
  background-color: PaleGreen;
}

.MediumAquaMarine {
  background-color: MediumAquaMarine;
}

.Gainsboro {
  background-color: Gainsboro;
}
/*-----------------------------------------------*/

/* div {
  width: 75%;
  display: block;
  text-align: left;
} */
.data-source, .file-upload, .visualization-prompt {
  width: 75%;
  margin: 0 auto;
  /* text-align: left; */
}

.file-upload-heading {
  margin-right: 10px; /* Adjust as needed for spacing between heading and divs */
  width: 100%;
}

.file-upload-options {
  display:flex;
  width: 100%;
}

.file-upload-option1, .file-upload-option2, .file-upload-option3{
  width: 33%;
  padding: 5px auto;
}

.document-display {
  display: absolute;
  width: 100vw;
}

.html-display {
  display: absolute;
  width: 75%;
  margin: 2em auto 7em auto;
  left: 0;
  font-family: 'Times New Roman';
}

.prediction-category {
  width: 22%;
  /* height: 50%; */
  font-size: 0.7em;
  padding: 10px;
  position: fixed;
  /* bottom: 20px;
  right: 30px; */
  bottom: 0;
  right: 0;
  z-index:3000;
  background-color: #3d3d3d;
  color: white;
}

/* .html-display {
  width: 90%;
  text-align: center;
} */

.file-label {
  padding-right: 1rem;
  display: inline;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

.data-source h2, .file-upload h2, .visualization-prompt h2 {
  text-align: left;
}

.refresh-button {
  width: 70px;
  height: 25px;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  margin-left: 10px;
}

.download-button {
  width: 120px;
  height: 50px;
  font-size: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0bda2e;
  margin-left: 10px;
}

.option2-step1 {
  display: flex;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.index-halving-line {
  border: 1px solid lightgrey; /* Black border for the line */
  /* border-style: inset; */
  margin: 10px 0; /* Optional margin for spacing */
  /* width: 75%; */
}
